@import url('https://fonts.googleapis.com/css?family=Podkova|Sunshiney');

@import "./bulma.min.css";

html {
  background-color: oldlace;
}

body {
  font-family: 'Podkova', serif;
  font-size: 25px;
}

main, .main-view {
  display: flex;
  flex-direction: column;
}

h1.title {
  margin: 20px auto;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  font-family: 'Sunshiney', cursive;
}

h3.subtitle {
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Sunshiney', cursive;
}

form {
  margin: 15px;
}

.label {
  color: forestgreen;
}

.submit {
  display: flex;
  align-items: center;
}

.error-message {
  color: maroon;
  text-align: center;
  text-transform: uppercase;
  background-color: #FF5454;
}

.sequence-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.toggle, .toggle:focus {
  position: absolute;
  top: 13px;
  left: 5px;
  cursor: pointer;
  font-weight: bold;
  background: none;
  font-size: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  width: 1em;
  height: 1em;
  color: dodgerblue;
  outline: none;
}

.remove-link, .remove-link:focus, .save-link, .save_link:focus {
  padding: 0;
  margin: 5px 10px;
  border: 0;
  color: dodgerblue;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  height: 1em;
}

.toggle-view, .toggle-view:focus {
  padding: 0;
  margin: 0;
  border: 0;
  color: dodgerblue;
  outline: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.sequence {
  position: relative;
  margin: 15px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 15px;
  background-color: gainsboro;
}

.hop {
  display: flex;
  justify-content: space-between;
}

.chain-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.credit {
  margin-top: 10px;
  margin-bottom: -5px;
}

.path-lang:not(:first-child):before {
  content: " ~ ";
}

.start-and-end svg {
  width: .5em;
  height: .6em;
  margin: 0 10px;
}

.start-and-end svg path {
  fill: forestgreen;
}

button.disabled {
  color: dimgray;
  cursor: auto;
}

.like-count {
  margin-left: 5px;
}

.like-button {
  cursor: pointer;
  transform: translateY(5px);
}

.dislike-button {
  margin-left: 30px;
  cursor: pointer;
  transform: translateY(15px);
}
